<!-- <h1>Editing User</h1> -->
<h3>Editing User's Profile</h3>
<%= render 'form', user: @user %>

<% if admin_user?(@checK) %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Show', @user %> |
  <!-- <%= link_to 'Back', @user %> -->
  <%= link_to 'Back', root_url %>
<% end %>
