<h3>Cart Listing</h3>

<table class="cart_list">

  <thead>
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>User</th>
      <th>Quantity</th>

      <% if logged_in? %>
      <th>
      <%= 'Actions' %>
      </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>


    <!-- <% user = User.find_by_id(session[:user_id]) %>

    <% prod = Product.find_by_id(cart.product.id) %> -->
      <tr>
        <td><%= cart.id %></td>
        <td><%= prod.name %></td>
        <td><%= user.email %></td>
        <td><%= cart.quantity %></td>

        <% if logged_in? %>
        <td>
          <%= link_to 'Edit', edit_user_cart_path(session[:user_id], cart.id) %>

          <%= link_to 'Remove', user_cart_path(session[:user_id], cart.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
