<h3>Product List</h3>

<table class="product_list">

  <% if logged_in? %>
    <%= link_to 'Create Product Review', new_review_path(@product) %>
    <%= link_to 'Show Shopping cart', user_carts_path(session[:user_id]) %>
    <!-- <%= link_to 'Show Shopping cart', product_carts_path(@products.ids) %> -->
  <% end %>
  <p></p>
  <% if logged_in? && admin_user?(@check) %>
    <%= link_to 'Create New Product', new_product_path %>
  <% end %>

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand</th>
        <th>Category</th>
        <th>Price</th>

      <% if logged_in? %>
      <th>
      <%= 'Actions' %>
      </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.brand_id %></td>
          <td><%= product.category_id %></td>
          <td><%= product.price %></td>

        <% if logged_in? %>
        <td>
          <%= link_to 'Add to cart', new_product_cart_path(product_id: product.id) %>
          <% if (logged_in? && admin_user?(@check)) %>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
