<!DOCTYPE html>
<html>
  <head>
    <title>RedmartRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

    <header>
    <div id="main">

      <div id="welcome">

<%= link_to image_tag("mini_mart.png") %>
        <h1>Welcome to My Mini Mart</h1>

      </div>

        <nav>


            <ul>


            <!-- <li>
              <%= link_to "Users List", users_path %>
            </li>
            <li>
              <%= link_to "Product", users_path %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_path %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: :delete %>
            </li> -->
            <li>
              <%= link_to "About", about_path %>
            </li>
            <li>
              <%= link_to "Sign Uo", signup_path %>
            </li>
            <li>
              <%= link_to "Help", help_path %>
            </li>
            <li>
              <%= if logged_in?
                link_to "Logout", logout_path, method: :delete
                else
                  link_to "Login", root_path
                end %>
            </li>

          </ul>
                    </nav>

                </div>

                <div id="clear"></div>

            </header>


    <%= yield %>

  </body>
</html>
